@import "//at.alicdn.com/t/font_6qnnilknc1r4fgvi.css";
@import "head.css";
body{background:#fff;padding:0;margin:0;font-family: "Microsoft YaHei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,Arial,sans-serif;}
li,ul,ol,h3,p,h4{list-style: none; padding:0;margin:0;font-weight:normal;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden; }
.clearfix{}
.btn{font-size:16px;padding:5px 18px;display: inline-block;border-radius: 6px;border:0;cursor:pointer;}
.btn-info{color:#fff;background:#00b2c8; }
.btn-info:hover{background:#0199ac }
.btn-default{}
.supercontainer{background: url(../images/bg_00.jpg) no-repeat;background-size: 100% 100%;}
a{text-decoration: none;}
.pl{float:left;}
.pr{float: right;}
.wp{max-width:1200px;margin:0 auto;}
.del-line{text-decoration: line-through}
.mt80{margin-top:80px;}
.mt{padding-top:80px;}
.inline{display: inline-block}

.toper{position: fixed;top:0px;}
.masthead{background: #00b3c8;padding:50px 0;color:#fff;margin-top:70px;}
.masthead h1{margin:0;}
.container{max-width:1200px;margin:0 auto;}
.bread{font-size:20px;padding:20px 0}
.brack a{color:#00b2c8;font-size: 16px;}  
.apibox{padding:;}
.apilist li{line-height:35px;font-size:16px}

.wp{max-width: none;}
.side-bg{width:430px;background:#f7f7f7;border-right:1xp solid #ddd;position:fixed;overflow-y:hidden;overflow-y: scroll; top:50px;bottom:0px;}

.side{padding-top:15px;float:left;width:412px;overflow:hidden;border-radius: 6px;}
.side .serch{padding:10px;position: relative}
.side .serch i{position: absolute;right:15px;top:12px;}
.side .serch input{background:#d4d4d8;width:100%;border:0px;padding:5px;border-radius: 5px;}
.side h2{padding:0 20px;}
.side-nav li p a{display:block;color:#888; line-height:14px; padding:10px 20px 4px;font-size:14px;}
 
.side-nav li .hd{padding:0px 15px; line-height:25px;display:block; font-size:14px;font-weight:bold;color:#444}
.side-nav li .showcat{display:none;background:#eeeeee}
.side-nav li p a.active{background: #c5c5cb;color:#666;text-decoration: none;padding-bottom:10px;}
.side-nav li p a:hover{color:#2a6496;}
.side-nav li p .tags{padding:0 20px}

.main{float:left;margin-left:460px;width:550px;padding:0 30px;background:#fff;}
.breadcrumb{margin:0;color:#777;height:40px;line-height: 40px;}
.breadcrumb a{margin-right:6px;color:#00b2c8;}
.breadcrumb a:hover{text-decoration: underline;} 


.right_com{background:#fff;border-left:1px solid #eee;}
.mtp{margin-top:50px;}


.textar label{display: block;margin-bottom:10px;}
.textar textarea{min-height:120px;}

.apibox{padding:;}
.apilist li{line-height:35px;font-size:16px}

.apilist li .hd{font-size: 24px;color:#333}
.apilist li a{color:#555;display: block;}
.apilist li a:hover{color:#18c1d6;}
.apilist  li a.active{background:#d4d4d8}
.apiview .title{border-bottom:1px solid #ddd;padding:50px 0 15px;}
.apiview .title h3{font-size:28px;}
.apiview .title p{font-size:22px;color:#888;}
.apiview .info{padding:20px 0;font-size:16px;}
.apiview .vtable h3{padding-bottom:20px;}

.showapi{padding-bottom:20px}
.showapi .disc{color:#999;border-bottom:1px solid #ddd;padding-bottom:10px; }
.showapi h3{font-size:18px;}
.apitable .table thead>tr>th{font-size:12px;font-weight:normal; word-break:keep-all}

.btn-light{background:#82bfd4;color:#fff}
a.btn-light:hover{background:#74b3c8;color:#fff}

#tooltip{position:absolute;border-radius: 5px;color:#fff; border:1px solid #222;background:rgba(0,0,0,0.7);padding:2px 5px;display:none;}

.foot{position:fixed;bottom:0px;width:100%; text-align:center;padding:15px 0;border-top:1px solid #ddd;background:#fff;margin-top:20px}
.foot p{line-height: 20px;padding:0;margin:0;color:#888;font-size: 12px;}
.foot p a{color:#555;margin:0 5px;}
.foot p a:hover{color:green; }


.main h2{padding-bottom:15px;border-bottom:1px solid #ddd;margin-bottom:20px;}
.main h4{padding-bottom:5px}

.comments ul li{border-bottom:1px solid #ddd;padding:15px 0}
.comments ul li .pic{width:50px;height:50px;border:50%;float:left;}
.comments ul li .rt{margin-left:70px;}
.comments ul li .rt h3{font-size:18px;margin:0;padding-top:5px;font-weight:normal}
.comments ul li .rt h3 span{color:#555}
.comments ul li .rt h3 i{color:#999;font-style:normal;display:inline-block;padding-left:10px;}
.comments ul li .rt p{padding-top:5px;color:#999;}

.codebox{ margin-bottom:20px;min-height: 200px;}

.right_com {margin-left:1010px;padding:15px;bottom:0px;min-height:1000px;}
.right_com .pre{ word-break:break-all;}
.right_com h4{font-size:14px;}
.pagination .previous {padding:0;border-bottom:0px}

.ldcomment{margin-bottom:10px;}
.ldcomment a{border:1px solid #eee;padding:3px 10px;background:#f5f5f5;display: block;text-decoration: none;}
.ldcomment a:hover{text-decoration: none;}
table{
    TABLE-LAYOUT:fixed;
    WORD-BREAK:break-all;
}
.tzer label{border:1px solid #eee;background:#f5f5f5;padding:3px 10px; text-align: center;border-radius: 5px;}
 .none{display:none}
.itabs { margin-bottom:10px;}
.itabs span{ cursor:pointer; display:inline-block;padding:5px 15px; border-bottom:0px;}
.itabs span:hover{background:#f5f5f5;}
.itabs span.active{background:#00b3c8;color:#fff;border-bottom:1px solid #fff;margin-bottom:-1px;}
.codebox{ margin-bottom:20px;min-height: 200px;}


.showapidisc dt{float:left;color:#333;font-weight: normal}
.showapidisc dd{float:left;}
.returnparam{margin:2px 0;padding:0 5px;background:#dff0d8; margin-left:20px;border:0px;display: inline-block}

.sm-labs{margin:0 5px 5px 0;color:#fff;display:inline-block; vertical-align: middle;font-size:10px; border-radius:4px;padding:0 5px;}
.matt{padding:5px;background:#eee}

.CodeContainer{background:#eee;bordeR:0px;}